* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('./components/images/background.png');

  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 100% 100%;
}

h2 {
  width: 100%;
}