.form {
    background-color: #B2C5CB;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #808080;
    margin-top: 2%;
}

form {
    width: 100%;
}

label {
    color: #2C4F74;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

input {
    height: 40px;
    margin: 10px 5px 10px 5px;
    border-style: none;
    display: flex;
    align-self: center;
    border-radius: 10px;
    width: 97%;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px #808080; 
}

.input-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.success-login {
    font-size: 30px;
    font-weight: bold;
}


.button-container {
    display: flex;
}

.checkbox-container {
    margin-left: 2%;
}

.nav-select {
    color: #2C4F74;
    margin-left: 1%; 
}

.nav-select:hover {
    color: #8054C9;
    cursor: pointer;
}

h2 {
    width: 150%;
}

.registration {
    margin-top: 5%;
    margin-bottom: 2%;
}

.registration-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  