nav {
    height: 8%;
    background-color: #B4E1FF;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    margin-left: 2%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    color: #2E6AA1;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-right: 2%;
    justify-content: flex-end;
}

#welcome {
    color: #2E6AA1;
    font-family: Roboto;
    margin-top: 2%;
}

.nav-link {
    margin: 2%;
}
