.home {
    margin-top: 2%;
}

.petRoom {
    width: 40%;
    background-color: #D3C5C5;
    border-radius: 90px;
    padding: 5px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #2E6AA1;
}

.right-icons {
    margin-left: 10%;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-icons {
    margin-right: 10%;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
