.form {
    background-color: #FFFBD6;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 50vh;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #808080;
    margin-top: 2%;
}

form {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
}

.loginButton {
    background-color: #EF9090;
    border-style: none;
    color: white;
}

label {
    color: #A87B06;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

input {
    height: 40px;
    margin: 10px 5px 10px 5px;
    border-style: none;
    display: flex;
    align-self: center;
    border-radius: 10px;
    width: 97%;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px #808080; 
}

.input-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.registration {
    margin-top: 4%;
}
