.form {
    background-color: #FFFBD6;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.loginButton {
    background-color: #EF9090;
    border-style: none;
    color: white;
}

label {
    color: #A87B06;
    font-weight: bold;
    display: flex;
}

input {
    width: 100%;
}
